@use '../../assets/styles' as *;

.content {
    height: 40px;
    width: 120px;
    @include centerDirection(row);
    @include window {
        height: 34px;
        width: 110px;
    }
}

.left-icon {
    margin: 10px;
}

// .content ~ .content {
//     margin-top: 10px;
//     margin-bottom: 10px;
// }

.title {
    @include center;
    height: 100%;
}

.normal {
    background-color: $primaryColor;
    color: #000;
    @include btn($border-radius: 8px);
}

.outline {
    @include btn($border-radius: 8px);
    color: $primaryColor;
    background-color: transparent;
    border: 1px solid $primaryColor;
    &:hover {
        background-color: $bgColor;
        color: black;
    }
}

.none {
    @include btn($border-radius: 0px);

    color: #fff;
    background-color: transparent;
    // border: 1px solid $primaryColor;
    &:hover {
        background-color: $bgColor;
    }
}

.full {
    width: 100%;
}

.zoom {
    &:hover {
        animation: zoom 0.5s linear;
        font-size: 20px;
        color: white;
    }
}

@keyframes zoomIn {
    to {
        transform: scale(1.1);
        background-color: red;
    }

    from {
        transform: scale(1);
    }
}

.active {
    background-color: $bgColor;
    color: black;
}

.disable {
    cursor: not-allowed !important;
    pointer-events: none;
    position: relative;
    &::after {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
    }
}
