@use '../../assets//styles' as *;

$distance: 0px;
$radius: 10px;
.content {
    position: absolute;
    background-color: white;
    width: max-content;
    min-width: 300px;
    padding: 0 10px;
    height: 60px;
    margin: 20px;
    gap: 10px;
    @include border($radius: $radius);
    @include centerDirection(row);

    &.top-mid {
        top: $distance + 10px;
        left: calc(50% - 10%);
        right: calc(50% - 10%);
        animation: slideDown ease 1s, slideUp linear 1s 2s forwards;
    }

    &.success {
        @include border($radius: $radius, $color: $successColor);
    }
    &.warning {
        @include border($radius: $radius, $color: $warningColor);
    }
    &.error {
        @include border($radius: $radius, $color: $dangerColor);
    }
    &.info {
        @include border($radius: $radius, $color: $infoColor);
    }
    &.loading {
        @extend .info;
    }
}

.blank {
    position: absolute;
    height: 100%;
    width: 8px;
    left: 0;
    z-index: 1;
    border-radius: 8px 0 0 8px;

    &.success {
        background-color: $successColor;
        border-top: 1px solid $successColor;
    }

    &.warning {
        border-top: 1px solid $warningColor;
        background-color: $warningColor;
    }

    &.error {
        border-top: 1px solid $dangerColor;
        background-color: $dangerColor;
    }
    &.info {
        border-top: 1px solid $infoColor;
        background-color: $infoColor;
    }
    &.loading {
        @extend .info;
    }
}

.icon {
    &.success {
        color: $successColor;
    }
    &.warning {
        color: $warningColor;
    }
    &.error {
        color: $dangerColor;
    }
    &.info {
        color: $infoColor;
    }
    &.loading {
        @extend .info;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
