@use '../../assets/styles/' as *;

.content {
    position: relative;
}

.dot {
    position: absolute;
    color: red;
    font-size: 28px;
    bottom: 8px;
    left: 7px;
    z-index: 1;
    ~ .icon {
        animation: shake 0.1s infinite linear;
    }
    @include window {
        font-size: 22px;
        left: 10px;
    }
}

@keyframes shake {
    to {
        transform: rotate(10deg);
    }
    from {
        transform: rotate(-10deg);
    }
}
