@use '../../assets/styles/' as *;

.content {
    position: relative;
}

.tippy {
    gap: 20px;
    height: fit-content;
    overflow: hidden;
    overflow-y: auto;
    @include scrollBar($bgColor);
}

.main {
    width: 250px;
    background-color: $primaryBgColor;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.tippy-title {
    color: $bgColor;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.main-title {
    text-transform: uppercase;
}

.tippy-content {
    @include center;
    justify-content: space-between;
    font-size: 16px;
    &-food {
        margin-right: 5px;
        & span {
            color: $primaryColor;
            font-size: 16px;
        }
    }
    &-table {
        & span {
            color: $primaryColor;
            font-size: 16px;
        }
    }
    &-btn {
        display: inline;
        width: 40px;
        font-size: 40px;
        color: $primaryColor;
        &:hover {
            background-color: transparent;
        }
    }
}

.dot {
    position: absolute;
    color: red;
    font-size: 28px;
    bottom: 8px;
    left: 7px;
    z-index: 1;
    ~ .icon {
        animation: shake 0.1s infinite linear;
    }
    @include window {
        font-size: 22px;
        left: 10px;
    }
}

@keyframes shake {
    to {
        transform: rotate(10deg);
    }
    from {
        transform: rotate(-10deg);
    }
}
