@use '../../assets/styles/' as *;

.content {
    height: 40px;
    width: 200px;
    @include center;
}

.title {
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    @include center;
}

.rad-btn {
    &:checked {
        + .title {
            color: #000;
            background-color: $bgColor;
            border: 1px solid $bgColor;
        }
    }
    &:not(:checked) {
        + .title {
            border: 1px solid $bgColor;
        }
    }
}

.rad-btn {
    display: none;
}
