@use '../../assets/styles/' as *;

.content {
    height: 40px;
    width: 200px;
    @include center;
}

.title {
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    @include center;
    @include window {
        font-size: 14px;
    }
}

.rad-btn {
    &:checked {
        + .title {
            color: #000;
            background-color: $bgColor;
            border: 1px solid $bgColor;
        }
    }
    &:not(:checked) {
        + .title {
            border: 1px solid $bgColor;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
    }
}

.rad-btn {
    display: none;
}
