@use '../../../assets/styles/' as *;

$grid-columns: 8% 27% 13% 27% 25%;
.container {
    width: 100%;
    display: grid;
    grid-template-rows: 60px 1fr;
    @include window {
        grid-template-rows: 40px 1fr;
    }
}

.header {
    display: grid;
    grid-template-columns: $grid-columns;
    font-weight: bold;
    color: black;
    border-radius: 8px 8px 0 0;
    background-color: $bgColor;
    text-transform: uppercase;
    & > div {
        @include center;
        border-right: 1px solid black;
    }
    div:last-child {
        border-right: none;
    }
    @include window {
        font-size: 14px;
    }
}

.body {
    height: 710px;
    overflow: hidden;
    overflow-y: auto;
    div:first-child {
        border-top: none;
    }
    div:last-child {
        border-radius: 0 0 8px 8px;
    }
    @include scrollBar($bgColor);
    @include window {
        height: 580px;
    }
}

.content {
    height: 80px;
    display: grid;
    grid-template-columns: $grid-columns;
    color: $primaryColor;
    background-color: $primaryBgColor;
    border-top: 1px solid $bgColor;

    &:hover {
        background-color: $secondaryBgColor;
        cursor: pointer;
    }
    &-no {
        @include center;
    }

    &-avatar_name {
        width: 100%;
        padding: 0 0 0 10%;
        @include center;
        justify-content: flex-start;
    }

    &-phone {
        @extend .content-no;
    }
    &-email {
        @extend .content-no;
    }
    &-address {
        @extend .content-no;
    }

    @include window {
        font-size: 14px;
        height: 60px;
    }
}

.name {
    padding-left: 20px;
    text-transform: capitalize;
}
