@use '../../assets/styles/' as *;

$padding: 10px;
$height: 380px;
$width: 100%;
$border-radius: 10px;

.content {
    width: $width;
    // height: $height;
    position: relative;
    background-color: $primaryBgColor;
    border-radius: $border-radius;
    @include centerDirection;
    justify-content: space-between;
}

.food-img {
    width: 100%;
    // height: 100%;
}

.img {
    border-radius: $border-radius $border-radius 0 0;
    width: 100%;
    height: 30vh;
    // width: 100px;
    // height: 100px;
    // object-fit: cover;
    object-fit: fill;
}

.title {
    margin: 0px 10px 0 10px;
    color: $primaryColor;
    align-self: flex-start;
    font-size: 22px;
    @include window {
        font-size: 18px;
    }
}

.food-name {
    font-weight: bold;
    text-transform: capitalize;
}
// height: 200px;

.action-btn {
    width: 50%;
    @include centerDirection(row);
    justify-content: space-around;
    margin-bottom: 10px;
}

.food-status {
    font-size: 25px;
    color: $primaryColor;
}

.add-btn {
    min-height: max-content;
    align-self: flex-end;
    justify-self: flex-end;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    @include window {
        width: 40px;
        height: 40px;
    }
}
