@use '/src//assets//styles/' as *;

.content {
    height: 40px;
    width: 120px;
    @include centerDirection(row);
    @include window {
        height: 34px;
        width: 110px;
    }
}

.normal {
    background-color: $primaryColor;
    color: #000;
    @include btn($border-radius: 8px);
}

.outline {
    @include btn($border-radius: 8px);
    color: $primaryColor;
    background-color: transparent;
    border: 1px solid $primaryColor;
    &:hover {
        background-color: $bgColor;
        color: black;
    }
}

.none {
    @include btn($border-radius: 0px);

    color: #fff;
    background-color: transparent;
    // border: 1px solid $primaryColor;
    &:hover {
        background-color: $bgColor;
    }
}
