@use '/src//assets//styles/' as *;

.container {
    width: 100%;
    height: 50px;
    background-color: $primaryColor;
    color: #fff;
    @include btn($border-radius: 6px);
    @include fontBold($size: 20 px);
}
